{:extra-cmds ["let g:clojure_indent_multiline_strings = 'pretty'"
              "normal! G"
              "normal! o\u000atest \"hello\u000aworld\""
              "normal! o\u000aregex #\"asdf\u000abar\""]}
