name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Setup clj-kondo
      uses: DeLaGuardo/setup-clojure@7.0
      with:
        clj-kondo: latest

    - uses: actions/checkout@v3

    - name: Lint
      working-directory: ./clj
      run: clj-kondo --lint src --config '{:output {:pattern "::{{level}} file={{filename}},line={{row}},col={{col}}::{{message}}"}}'

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: DeLaGuardo/setup-clojure@7.0
      with:
        lein: 2.9.8

    - name: Cache m2
      uses: actions/cache@v3
      env:
        cache-name: cache-m2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/project.clj') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - run: lein test
      working-directory: ./clj
